
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rewind consumers offset</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="rewindDate">Select the datetime to rewind all the partition-offsets of the topic <b>'{{topic}}'</b> from consumers <b>'{{consumerName}}'</b> with group id <b>'{{groupId}}</b>' </label>
        <div class="input-group">
        <input id="rewindDate" class="form-control" placeholder="yyyy-mm-dd hh:MM:ss" [(ngModel)]="rewindDate" type="datetime-local">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="save()">OK</button>
</div>
