<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.12.0" targetFramework="net472" />
  <package id="Confluent.Kafka" version="1.4.3" targetFramework="net472" />
  <package id="Fare" version="2.1.1" targetFramework="net472" />
  <package id="librdkafka.redist" version="1.4.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Debug" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.6" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity" version="5.11.7" targetFramework="net472" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
</packages>