  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KafkaFlow - Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Clusters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Consumers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Monitoring</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<app-consumer [groups]="groups"></app-consumer>
