name: Publish

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.403

    - name: Setup Node 14.x
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
        
    - name: Build Client App
      working-directory: ./src/KafkaFlow.Admin.Dashboard/ClientApp
      run: |
        npm install
        npm run lint
        npm run build:prod

    - name: Pack
      run: dotnet pack ./src/KafkaFlow.sln -c Release /p:Version=${{ github.event.release.tag_name }} -o ./drop

    - name: Publish
      run: dotnet nuget push ./drop/**/*.nupkg -k ${{ secrets.NUGET_PUBLISH_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Print Version
      run: echo ${{ github.event.release.tag_name }}
